services:

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - microservices-network

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "user-created:1:1,user-logged-in:1:1,user-created-dlq:1:1,user-logged-in-dlq:1:1"

    depends_on:
      - zookeeper
    networks:
      - microservices-network
  
  
  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - microservices-network


  chat-service:
    build:
      context: ./chat-service
      dockerfile: Dockerfile
    container_name: chat-service
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASS=
    env_file:
      - ./chat-service/.env
    depends_on:
      - redis
    networks:
      - microservices-network
    restart: unless-stopped



  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    env_file:
      - ./user-service/.env
    networks:
      - microservices-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8000/register"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  # product-service:
  #   build:
  #     context: ./product-service
  #     dockerfile: Dockerfile
  #   container_name: product-service
  #   ports:
  #     - "4000:4000"
  #   environment:
  #     - PORT=4000
  #   env_file:
  #     - .env
  #   networks:
  #     - microservices-network
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/get"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s

  # inventory-service:
  #   build:
  #     context: ./inventory-service
  #     dockerfile: Dockerfile
  #   container_name: inventory-service
  #   ports:
  #     - "6000:6000"
  #   environment:
  #     - PORT=6000
  #     - KAFKA_BROKER=kafka:9092
  #     - PAYMENT_TOPIC=payment-events
  #   env_file:
  #     - .env
  #   networks:
  #     - microservices-network
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:6000/get/health"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s

  # cart-service:
  #   build:
  #     context: ./cart-service
  #     dockerfile: Dockerfile
  #   container_name: cart-service
  #   ports:
  #     - "9000:9000"
  #   environment:
  #     - PORT=9000
  #   env_file:
  #     - .env
  #   networks:
  #     - microservices-network
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5000/cart"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s

  # order-service:
  #   build:
  #     context: ./order-service
  #     dockerfile: Dockerfile
  #   container_name: order-service
  #   ports:
  #     - "7000:7000"
  #   environment:
  #     - PORT=7000
  #   env_file:
  #     - .env
  #   networks:
  #     - microservices-network
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:7000/order"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s

  # payment-service:
  #   build:
  #     context: ./Payment-Service
  #     dockerfile: Dockerfile
  #   container_name: payment-service
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - PORT=3000
  #   env_file:
  #     - .env
  #   networks:
  #     - microservices-network
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/payment"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "2000:2000"
    environment:
      - PORT=2000
    env_file:
      - ./notification-service/.env
    networks:
      - microservices-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:2000/notifications"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  redis_data:
  mongo_data:

networks:
  microservices-network:
    driver: bridge