services:

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    privileged: true
    tty: true
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    networks:
      - microservices-network


  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - microservices-network

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "user-created:1:1,user-logged-in:1:1,user-created-dlq:1:1,user-logged-in-dlq:1:1"

    depends_on:
      - zookeeper
    networks:
      - microservices-network
  
  
  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - microservices-network


  chat-service:
    build:
      context: ./chat-service
      dockerfile: Dockerfile
    container_name: chat-service
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASS=
    env_file:
      - ./chat-service/.env
    depends_on:
      - redis
    networks:
      - microservices-network
    restart: unless-stopped



  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    env_file:
      - ./user-service/.env
    networks:
      - microservices-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8000/register"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  ai-service:
    build:
      context: ./AI-service
      dockerfile: Dockerfile
    container_name: ai-service
    ports:
      - "8005:8005"
    environment:
      - PORT=8005
      - OLLAMA_MODEL=phi3
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    networks:
      - microservices-network
    restart: unless-stopped

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "2000:2000"
    environment:
      - PORT=2000
    env_file:
      - ./notification-service/.env
    networks:
      - microservices-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:2000/notifications"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  redis_data:
  mongo_data:
  ollama_models:


networks:
  microservices-network:
    driver: bridge